In [35]:
#import 

from bs4 import BeautifulSoup
import requests
import smtplib
import time
import datetime

In [39]:
# connect to website

URL = "https://www.amazon.com/Funny-Data-Systems-Business-Analyst/dp/B07FNW9FGJ/ref=sr_1_3?crid=1M4HG3W37JJ4I&keywords=data+analyst+tshirt&qid=1641439478&sprefix=data+analyst+tshirt%2Caps%2C76&sr=8-3"
    
headers = {"User-Agent": "Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/96.0.4664.110 Safari/537.36", 
    "X-Amzn-Trace-Id": "Root=1-61d66163-33b71a1522290de52014ecb3"}

page = requests.get(URL, headers=headers)

soup1 = BeautifulSoup(page.content, "html.parser")

#formatting

soup2 = BeautifulSoup(soup1.prettify(), "html.parser")

title = soup2.find(id= 'productTitle').get_text()

price = soup2.find('span','a-offscreen').get_text()


print(title)
print(price)

                   Funny Got Data MIS Data Systems Business Analyst T-Shirt


                  $16.99

In [40]:
#cleaning
price= price.strip()[1:]
title= title.strip()

In [42]:
import datetime

today= datetime.date.today()

print(today)

2022-01-05

In [44]:
import csv

header = ['Title','Price','Date']
data= [title,price,today]

type(data)

with open('Amazonwebscraper.csv', 'w', newline= '', encoding= 'UTF8') as f:
    writer= csv.writer(f)
    writer.writerow(header)
    writer.writerow(data)

In [63]:
import pandas as pd

df = pd.read_csv(r'/Users/calebrouse/Amazonwebscraper.csv')

print(df)

                                                                                                            Title  \
Funny Got Data MIS Data Systems Business Analys... 16.99Funny Got Data MIS Data Systems Business A...       16.99
                                                   16.99                                               2022-01-05

                                                                                                            Price
Funny Got Data MIS Data Systems Business Analys... 16.99Funny Got Data MIS Data Systems Business A...  2022-01-05
                                                   16.99                                                      NaN

In [64]:
#appending daya
with open('Amazonwebscraper.csv', 'a+', newline= '', encoding= 'UTF8') as f:
    writer= csv.writer(f)
    writer.writerow(data)

In [ ]:
def check_price():
    URL = "https://www.amazon.com/Funny-Data-Systems-Business-Analyst/dp/B07FNW9FGJ/ref=sr_1_3?crid=1M4HG3W37JJ4I&keywords=data+analyst+tshirt&qid=1641439478&sprefix=data+analyst+tshirt%2Caps%2C76&sr=8-3"
    
    headers = {"User-Agent": "Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/96.0.4664.110 Safari/537.36", 
    "X-Amzn-Trace-Id": "Root=1-61d66163-33b71a1522290de52014ecb3"}

    page = requests.get(URL, headers=headers)

    soup1 = BeautifulSoup(page.content, "html.parser")

    soup2 = BeautifulSoup(soup1.prettify(), "html.parser")

    title = soup2.find(id= 'productTitle').get_text()

    price = soup2.find('span','a-offscreen').get_text()
    
    price= price.strip()[1:]
    title= title.strip()
    
    import datetime

    today= datetime.date.today()
   
    with open('Amazonwebscraper.csv', 'a+', newline= '', encoding= 'UTF8') as f:
        writer= csv.writer(f)
        writer.writerow(data)

In [ ]:
while(True):
    check_price()
    time.sleep(86400)

In [69]:
import pandas as pd

df = pd.read_csv(r'/Users/calebrouse/Amazonwebscraper.csv')

print(df)

                                                                                                            Title  \
Funny Got Data MIS Data Systems Business Analys... 16.99Funny Got Data MIS Data Systems Business A...       16.99
                                                   16.99                                               2022-01-05
                                                   16.99                                               2022-01-05
                                                   16.99                                               2022-01-05
                                                   16.99                                               2022-01-05
                                                   16.99                                               2022-01-05
                                                   16.99                                               2022-01-05
                                                   16.99                                               2022-01-05
                                                   16.99                                               2022-01-05
                                                   16.99                                               2022-01-05
                                                   16.99                                               2022-01-05
                                                   16.99                                               2022-01-05
                                                   16.99                                               2022-01-05
                                                   16.99                                               2022-01-05
                                                   16.99                                               2022-01-05
                                                   16.99                                               2022-01-05
                                                   16.99                                               2022-01-05
                                                   16.99                                               2022-01-05
                                                   16.99                                               2022-01-05
                                                   16.99                                               2022-01-05
                                                   16.99                                               2022-01-05
                                                   16.99                                               2022-01-05
                                                   16.99                                               2022-01-05
                                                   16.99                                               2022-01-05
                                                   16.99                                               2022-01-05
                                                   16.99                                               2022-01-05
                                                   16.99                                               2022-01-05
                                                   16.99                                               2022-01-05
                                                   16.99                                               2022-01-05
                                                   16.99                                               2022-01-05
                                                   16.99                                               2022-01-05
                                                   16.99                                               2022-01-05
                                                   16.99                                               2022-01-05
                                                   16.99                                               2022-01-05
                                                   16.99                                               2022-01-05
                                                   16.99                                               2022-01-05
                                                   16.99                                               2022-01-05
                                                   16.99                                               2022-01-05
                                                   16.99                                               2022-01-05
                                                   16.99                                               2022-01-05
                                                   16.99                                               2022-01-05
                                                   16.99                                               2022-01-05
                                                   16.99                                               2022-01-05
                                                   16.99                                               2022-01-05

                                                                                                            Price
Funny Got Data MIS Data Systems Business Analys... 16.99Funny Got Data MIS Data Systems Business A...  2022-01-05
                                                   16.99                                                      NaN
                                                   16.99                                                      NaN
                                                   16.99                                                      NaN
                                                   16.99                                                      NaN
                                                   16.99                                                      NaN
                                                   16.99                                                      NaN
                                                   16.99                                                      NaN
                                                   16.99                                                      NaN
                                                   16.99                                                      NaN
                                                   16.99                                                      NaN
                                                   16.99                                                      NaN
                                                   16.99                                                      NaN
                                                   16.99                                                      NaN
                                                   16.99                                                      NaN
                                                   16.99                                                      NaN
                                                   16.99                                                      NaN
                                                   16.99                                                      NaN
                                                   16.99                                                      NaN
                                                   16.99                                                      NaN
                                                   16.99                                                      NaN
                                                   16.99                                                      NaN
                                                   16.99                                                      NaN
                                                   16.99                                                      NaN
                                                   16.99                                                      NaN
                                                   16.99                                                      NaN
                                                   16.99                                                      NaN
                                                   16.99                                                      NaN
                                                   16.99                                                      NaN
                                                   16.99                                                      NaN
                                                   16.99                                                      NaN
                                                   16.99                                                      NaN
                                                   16.99                                                      NaN
                                                   16.99                                                      NaN
                                                   16.99                                                      NaN
                                                   16.99                                                      NaN
                                                   16.99                                                      NaN
                                                   16.99                                                      NaN
                                                   16.99                                                      NaN
                                                   16.99                                                      NaN
                                                   16.99                                                      NaN
                                                   16.99                                                      NaN
                                                   16.99                                                      NaN
                                                   16.99                                                      NaN